name: Docker Image CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: setup docker-compose
      run: docker-compose up -d 
    - name: run test
      run: docker exec backend sh -c "flake8 && pytest ."
